@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Alumni: "Alumni Sans", serif;
  --Poppins: "Poppins", serif;
  --color-fondo: #f5f7fa;
  --color-primario: #007bff;
  --color-secundario: #6c757d;
  --color-acento: #17a2b8;
}

/* HEADER */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--Poppins);
  background: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.contenedor {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.personalizado {
  color: var(--color-acento);
}

.titulo-personalizado {
  font-size: 3.5rem;
  font-family: var(--Alumni);
  font-weight: 400;
}

.titulo-personalizado > span {
  font-size: 4.5rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  color: var(--color-acento);
}

/* Navegador */
.Encabezado {
  width: 100%;
  position: relative;
}

.contenedor_encabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 6rem;
}

.navegacion > a {
  margin: 0 1rem;
  color: #000;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease-in-out;
}

.navegacion > a:hover {
  border-bottom: 2px solid #000;
}

/* Inicio */
.fecha_hora {
  /* border: solid; */
  display: flex;
  position: absolute;
  margin-left: 33rem;
  margin-top: 4.5rem;
  gap: 2rem;
  font-weight: bold;
}
.fecha_hora > p {
  /* border: solid red; */
  height: 100%;
  font-family: var(--Alumni);
  font-size: 22px;
}
.hero {
  width: 100%;
  height: 80vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/images/Hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f5f7fa;
  margin-bottom: 3rem;
}

.hero > h1 {
  font-size: 4.5rem;
  padding: 0 3rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 0.3rem solid #c7c8c0;
  font-weight: bold;
  color:  #c7c8c0;
}

.hero > h1 > p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #c7c8c0;
}

/* Seccion Nosotros */
.Nosotros {
  margin: 3rem 0;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.articulo {
  width: 35rem;
}

.articulo > h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.personalizado {
  font-size: 4rem;
}

.descripcion {
  margin-bottom: 2rem;
  font-weight: 200;
  line-height: 1.7;
}

.imagen-Nosotros {
  width: 35rem;
  padding: 1rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.imagen-Nosotros > img {
  transition: all 0.5s ease-in-out;
}

.imagen-Nosotros > img:hover {
  transform: scale(2) rotate(30deg);
  transition: all 0.5s ease-in-out;
}

/* Galeria */

.galeria {
  padding: 3rem;
}
.galeria > h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

.contenedor-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.contenedor-galeria > img {
  filter: grayscale(100%);
  transition: all 0.2s ease-in-out;
  width: 100%;
  /* height: 300px; */
  object-fit: cover;
  border-radius: 10px;
}

.contenedor-galeria > img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

.banner {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.container_img {
  width: 45rem;
  height: 30rem;
}
.container_img > img {
  width: 100%;
  height: 100%;
}
/*Formulario*/

h5 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  letter-spacing: 1px;
  font-family: var(--Alumni);
}

form {
  width: 500px;
  padding: 2.5rem;
  margin: 2rem auto;
  border-radius: 1.5rem;
  background-color: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--color-fondo);
}

form label {
  display: block;
  color: var(--color-secundario);
  margin-bottom: 0.3rem;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.2rem;
  border-radius: 0.8rem;
  border: 1px solid #ddd;
  font-size: 1rem;
  transition: all 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: var(--color-acento);
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  outline: none;
}

textarea {
  height: 120px;
  resize: none;
}

input[type="submit"] {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-acento);
  color: #fff;
  border: none;
  border-radius: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: var(--color-secundario);
}

.conten_ubicacion {
  margin: 2.5rem 0rem;
}
.conten_ubicacion > iframe {
  width: 100%;
  height: 480px;
  padding: 0rem 4rem 0rem 4rem;
  border-style: none;
  border-radius: 1rem;
}

/*Servicios*/
h6 {
  text-align: center;
  font-size: 4rem;
  border-top: 2rem;
  padding-top: 2rem;
  font-family: var(--Alumni);
}
.contenedor_carts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin: 2rem 0rem;
}
.cartas {
  width: 20rem;
  padding: 1.5rem;
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  justify-content: space-between;
  border: solid rgb(216, 211, 211) 1px;
  border-radius: 30px;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.cartas:hover {
  box-shadow: 1rem 0.5rem 1.5rem 1rem rgb(206, 204, 204);
  transform: translateY(-20px);
  transition: transform 0.3s ease-in-out;
}
.contenedor_imgCart {
  display: flex;
  width: 100%;
  height: 18rem;
}
.contenedor_imgCart > img {
  width: 100%;
  height: 100%;
}
.btn-deco {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: #bfc0c0 solid 0.2px;
  border-radius: 0.8rem;
  height: 2.4rem;
  padding: 0 1rem;
  margin-top: auto;
  text-decoration: none;
  color: #000;
}

.btn-deco:hover {
  cursor: pointer;
  background-color: var(--color-acento);
  border: none;
  color: #f2f2f2;
  text-decoration: none;
}

/* Galeria */

.galeria {
  padding: 3rem;
}
.galeria > h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.contenedor-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.contenedor-galeria > img {
  filter: grayscale(100%);
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.contenedor-galeria > img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

/* Footer */
.contenedor-footer {
  /* border: solid; */
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  background-color: var(--color-acento);
}

.textos {
  /* border: solid red ; */
  line-height: 1rem;
  color: rgb(247, 243, 243);
}

.textos > p {
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

.textos > p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.negrita {
  font-weight: bold;
  font-size: 1.2rem;
}

.iconos {
  display: block;
  align-items: center;
  line-height: 2.5;
}

.iconos > img {
  height: auto;
  width: 35px;
  margin-top: 1rem;
  margin-right: 1rem;
  transition: transform 0.6s ease-in-out;
}

.iconos > img:hover {
  transform: scale(1.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  font-weight: bold;
}

/* Card */

.card-container {
  /* border: solid green 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 5rem 0;
}

.container {
  /* border: solid coral 10px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
}
.card {
  /* border: solid; */
  width: 350px;
  height: 495px;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
}
.card:hover {
  transform: translateY(-20px);
  box-shadow: 1rem 0.5rem 1.5rem 1rem rgb(206, 204, 204);
  border-radius: 20px;
}

.img-card {
  /* border: solid red; */
  height: 220px;
  width: 220px;
  background-color: white;
  border-radius: 20px 20px 0 0;
}

.img-card > img {
  height: 200px;
  width: 350px;
  border-radius: 20px 20px 0 0;
  object-fit: contain;
  margin-top: 1.5rem;
  object-fit: contain;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 270px;
  background-color: white;
  border-radius: 0 0 20px 20px;
}

.producto {
  margin-top: 0;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  padding: 5px 5px 0 5px;
  margin: 1rem;
}

.precio {
  margin-bottom: 0.5rem;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-acento);
}

.adicionar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.btn-card {
  font-size: 20px;
  border-radius: 100%;
  border-style: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.btn-card:hover {
  cursor: pointer;
  background-color: var(--color-acento);
  color: white;
  border: none;
}

.cantidad {
  margin: 0 10px 0 10px;
  font-size: 16px;
}

.btn-agregar {
  border-radius: 10px;
  background: white;
  font-size: 20px;
  padding: 0.5rem;
}

.btn-agregar:hover {
  cursor: pointer;
  background-color: var(--color-acento);
  color: white;
  border: none;
}

/* Carrito */

.container-cart {
  display: flex;
  justify-content: flex-end; /* mueve todo a la derecha */
  align-items: flex-start; /* opcional: alinea arriba */
  gap: 1rem;
}
.cart {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
}

.cart > img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.counter {
  position: absolute;
  bottom: -5px;
  left: -37px;
  transform: translate(60%, 60%);
  background-color: var(--color-acento);
  color: black;
  font-size: 12px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
